[submodule ".registry"]
	path = .registry
	url = https://github.com/duckdblabs/duckdblabs.r-universe.dev
	branch = HEAD
[submodule "duckplyr"]
	path = duckplyr
	url = https://github.com/duckdblabs/duckplyr
[submodule "pillar"]
	path = pillar
	url = https://github.com/r-lib/pillar
	registered = false
